/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;

  height: 100%;
  width: 100vw;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 16px;
  color: white;
  background-color: rgb(2, 2, 99);

}

html, body { height: 100%; }
body { margin: 0;  }




/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 12px;
  background-color: #9bf1e2;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #61f8dc;
}
/* Firefox */
html {
  scrollbar-shadow-color:inset 0 0 6px rgba(0,0,0,0.5);
  scrollbar-color: #21d6b5  #61f8dc;
  scrollbar-width: thin;
}
